<div class="container" fxLayout="column" fxLayoutGap="10px">
    
    <div fxFlex>
        <div>
            <h3>Trying it out!</h3>
            <hr>
        </div>
    </div>
    
    <div fxFlex *ngIf="cards">
        <form>
            <mat-grid-list cols="2" rowHeight="200px">

                <mat-grid-tile *ngFor="let card of cards" appHighlight>
                    <mat-grid-tile-header>
                        <h1 md-line>{{card.name | uppercase }}</h1>
                        <button type="button" class="close" (click)="removeCard(card.id)">&times;</button>

                    </mat-grid-tile-header>
                    <div>                <img src="{{card.iconUrl}}"/>
                    </div>
                    <mat-grid-tile-footer>
                        <input placeholder="£ 00.00" type="number" name="pounds" required>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
            </mat-grid-list>
            
        </form>
    </div>
</div>

<div class="container" fxLayout="column" fxLayoutGap="10px">
         <form>
            <h3>Trying!!</h3>
          <p>
            
              <input mdInput formControlName="firstname" placeholder="£00.00" type="number" required>
            
              
              <input mdInput formControlName="firstname" placeholder="£00.00" type="number" required>
                    
          <button type="submit" md-button class="background-primary text-floral-white">Submit</button>
                    
        </form>

</div>
    